<!DOCTYPE html>
<html>
<head>
    <title>Accordion Fair</title>
</head>
<body>

    <section>
        @RenderBody()
    </section>
    <script src="~/ClientApp/dist/inline.bundle.js"></script>
    <script src="~/ClientApp/dist/polyfills.bundle.js"></script>
    <script src="~/ClientApp/dist/styles.bundle.js"></script>
    <script src="~/ClientApp/dist/vendor.bundle.js"></script>
    <script src="~/ClientApp/dist/main.bundle.js"></script>
</body>
</html>