
<carousel class="slide">
    <slide>
        <img src="/img/scandalli/2016_10_07.jpg" alt="first slide" class="img-fluid" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_02.jpg" alt="second slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <!--<img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">-->
        <img src="/img/scandalli/2016_10_03.jpg" alt="third slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_04.jpg" alt="fouth slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_05-1.jpg" alt="fifth slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_06.jpg" alt="sixth slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_01.jpg" alt="seventh slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_08.jpg" alt="eight slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_09.jpg" alt="ninth slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/2016_10_10.jpg" alt="tenth slide" style="display: block; width: 100%;" />
    </slide>
    <slide>
        <img src="/img/scandalli/Bara_Zmekova_koncert_Cafe_Etage_PH11706_color-1.jpg" alt="eleventh slide" style="display: block; width: 100%;" />
    </slide>
</carousel>

<!-- Page Features -->
<div class="container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/img/scandalli/scand2.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Scandalli</h4>
                    <p class="card-text">The Scandalli brand is an icon for many because of its long, distinguished history of innovation, prestige and quality.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="shop" class="btn bg-dark">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/img/scandalli/Weltmeister.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Weltmeister</h4>
                    <p class="card-text">
                        At Weltmeister Akkordeon Manufaktur GmbH, we supply
                        the music world with Weltmeister solo, button, piano
                        and folklore accordions.
                </div>
                <div class="card-footer">
                    <a routerLink="shop" class="btn bg-dark">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/img/scandalli/bugari.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Armando Bugari</h4>
                    <p class="card-text">The Bugari Armando, proud of it's tradition, is conscious of occupying a place of importance among the various manufacturers.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="shop" class="btn bg-dark">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="/img/scandalli/Excelsior.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Excelsior</h4>
                    <p class="card-text">Shining like stars in the universe of sounds, EXCELSIOR accordions came to light in NY, USA in 1924.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="shop" class="btn bg-dark">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
</div>