@model ContactViewModel
@{
    ViewBag.Title = "Contact us";
}


<div id="theForm">
    <div asp-validation-summary="All"></div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Your Name:</label>
            <br />
            <input class="form-control-sm " asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <br />
            <input class="form-control-sm" type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject">Subject:</label>
            <br />
            <input class="form-control-sm" type="text" asp-for="Subject" />
            <span asp-validation-for="Subject"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message">Message:</label>
            <br />
            <textarea class="form-control-sm" rows="4" asp-for="Message"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
        <input type="submit" value="Send Message" />
        <div>@ViewBag.UserMessage</div>
    </form>
</div>


