@{
    ViewBag.Title = "Home Page";
}
<entry></entry>











@*<div><div><div><img alt="QR code input" src="http://www.btcfrog.com/qr/bitcoinPNG.php?address=2NAmfrTdhU8hdxqdKh8XW1b6M1RU68GXaLb" style="height: 200px;width 200px" /></div><div><a href="http://www.btcfrog.com/qr/">Generate@BtcFrog.com/qr/</a></div></div></div>
    <div class="product-info">
        <img src="~/img/VanGogh.jpg" />
        <h3>Mug</h3>
        <ul class="product-props">
            <li>Price: $9.99</li>
            <li>Artist: Van Gogh</li>
            <li>Title: </li>
            <li>Description: Self-portrait</li>
        </ul>
        <button id="buyButton">Buy</button>
    </div>

    <div>
        <div id="loginToggle">Login</div>
        <form class="popup-form">
            <div>
                <label>Username</label>
                <input />
            </div>
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember Me?</label>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>*@